<div class="row">
  <div class="col-md-12">
    <p>
      <strong>Patient:</strong>
      <%= @patient.name %>
    </p>
  </div>
</div>

<div class="row">
  <div class="col-md-2">
    Point Po <br> <%= "x: #{@exam.point_po.x}, y: #{@exam.point_po.y}" %>
  </div>
  <div class="col-md-2">
    Point Or <br> <%= "x: #{@exam.point_or.x}, y: #{@exam.point_or.y}" %>
  </div>
  <div class="col-md-2">
    Point N <br> <%= "x: #{@exam.point_n.x}, y: #{@exam.point_n.y}" %>
  </div>
  <div class="col-md-2">
    Point A <br> <%= "x: #{@exam.point_a.x}, y: #{@exam.point_a.y}" %>
  </div>
  <div class="col-md-2">
    Angle <br> <%= @exam.maxillary_depth_angle %>
  </div>
</div>

<div class="row">
  <div class="col-md-12" data-view3d='wrapper'>
  </div>
</div>

<div id="render"></div>
<script src="../assets/javascripts/three.min.js"></script>
<script>
var Render=new THREE.WebGLRenderer();
var Scene=new THREE.Scene();
var Camera=new THREE.PerspectiveCamera();
var Figure;

inicio();

function inicio(){
  Render.setSize(600,600);
  document.getElementById('render').appendChild(Render.domElement);
  Camera.position.z=2000;
  Scene.add(Camera);
  load_model();
  Render.render(Scene,Camera);
}

function load_model(){

  var po_x = 163.245;
  //var po_y = 417.157;
  var po_y = document.getElementById('render').getAttribute("#{@exam.point_po.y}");
  var or_x = 567.222;
  var or_y = 415.854;

  line_po_or=new THREE.Geometry();
  v_po=new THREE.Vector3(po_x,po_y,0);
  line_po_or.vertices.push(v_po);
  v_or=new THREE.Vector3(or_x,or_y,0);
  line_po_or.vertices.push(v_or);
  
  line_n_a=new THREE.Geometry();
  v_n=new THREE.Vector3(632.698,292.369,0);
  line_n_a.vertices.push(v_n);
  v_a=new THREE.Vector3(626.272,563.035,0);
  line_n_a.vertices.push(v_a);
  
  Material=new THREE.ParticleBasicMaterial({color:0XFF0000});
  
  Figure_po_or=new THREE.Line(line_po_or,Material);
  Scene.add(Figure_po_or);
  Figure_n_a=new THREE.Line(line_n_a,Material);
  Scene.add(Figure_n_a);
 }


</script>


<div class="row">
  <div class="col-md-12">
    <div class="actions">
      <%= link_to 'Back', patient_path(@patient), class: "btn btn-secondary" %>
    </div>
  </div>
</div>
